.idea/
.vscode/
*.iml
*.log
.DS_Store
Thumbs.db

plugin/target/
plugin/.tools/
xAuction-src/target/
xAuction-src/.tools/
xCointMining-src/target/
xCointMining-src/.tools/

server/world*/
server/logs/
server/cache/
server/libraries/
server/versions/
server/crash-reports/
server/config/
server/*.jar
server/banned-ips.json
server/banned-players.json
server/ops.json
server/usercache.json
server/usernamecache.json
server/whitelist.json
server/help.yml
server/commands.yml
server/bukkit.yml
server/spigot.yml
server/spigot.yml.old
server/permissions.yml
server/webbook.yml
server/version_history.json
server/plugins/*/
!server/plugins/.gitkeep
